/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a {
    color: black;
}
a:visited{
    color: black;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
header img {
    width: 21px; /* Largeur souhaitée */
    height: auto; /* Ajuste la hauteur automatiquement */
	display: flex; /* Maintient les element aligner sur la meme ligne */
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
/* MODE EDITION */
.edit {
    background-color: black;
    color: white;
    width: 100vw; 
    height: 50px;
    position: relative;
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 10; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit a {
	color: white;
}
.edit a:visited {
	color: white;
}

/* Container for "Mes Projets" title and the modifier button */
.portfolio-header {
	display: flex;
	justify-content: center; 
	align-items: baseline; 
	gap: 15px; 
	margin-bottom: 20px; 
  }
  
  #modifierButton {
	background: none; 
	border: none; 
	color: black; 
	font-size: 12px; 
	display: flex; 
	align-items: center; 
	cursor: pointer; 
	gap: 5px; 
	padding: 0;
  }
  
  #modifierButton i {
	font-size: 18px; /* Taille de l'icône */
  }


/*
================================================================================================================
// Gestion des modals //
================================================================================================================
*/
.modal {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 1000;
  }
  

.modal-wrapper {
	width: 630px;
	height: 700px;
	background-color: white;
	border-radius: 10px; 
	padding: 60px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
	position: relative; 
	overflow: hidden; 
  }
.modal-wrapper h2 {
	display: flex;
	justify-content: space-around;
	font-family: 'Work Sans';
    color: black;
    font-weight: normal;

}
.close-modal {
	position: absolute;
	top: 40px;
	right: 40px;
	font-size: 16px;
	color: black;
	cursor: pointer;
  }
.close-modal:hover {
	color: red;
  }
.modal-gallery {
	display: grid;
	justify-content: center;
	gap: 30px 8px;
	justify-items: center; 
	padding: 45px 0;
	grid-template-columns: repeat(5, 80px)
  }
  
.modal-gallery img {
  width: 100%;
  max-width: 80px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.close-modal:hover {
	color: #1d6154; 
  }

.modal-image-wrapper {
	position: relative;
	display: inline-block;
  }
  

.delete-button {
	position: absolute;
	top: 5px; 
	right: 5px;
	background: black;
	border: none;
	border-radius: 15%; 
	padding: 5px;
	cursor: pointer;
	transition: background-color 0.2s ease, transform 0.2s ease;
  }
  
.delete-button i {
	color: white;
	font-size: 12px;
  }
  
.delete-button:hover {
	background: rgba(255, 0, 0, 0.8); 
	transform: scale(1.1); 
  }
  
.delete-button i:hover {
	color: #fff; 
  }
.modal-separator {

	width: 435px;
	border: none;
	border-top: 1px solid;
	padding: 17px;
  }
  
.modal-button {
	display: block;
	margin: 0 auto;
	padding: 10px 50px;
	font-family: 'Syne';
	font-size: 15px;
	color: #fff;
	background-color: #1d6154; 
	border: none;
	border-radius: 20px;
	cursor: pointer;
  }
  
.modal-button:hover {
	background-color: #144d3e; 
	transform: scale(1.05); 
  }
  
#backToModal1 {
	position: absolute;
	top: 40px; 
	left: 40px; 
	font-size: 23px;
	color: #333; 
	cursor: pointer;
}

#backToModal1:hover {
	color: #1d6154; 
}

/* Conteneur pour l'upload */
.upload-container {
	background-color: #e8f1f6;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-radius: 5px;
    margin: 50px;
  }
  
  /* Icône de l'image */
  .upload-icon {
	font-size: 70px; 
	color: #b9c5cc; 
	transition: transform 0.2s ease; 
  }

/* Style pour le bouton "+ Ajouter photo" */

.upload-button {
	background-color: #cbd6dc; 
	color: #4d7b95; 
	border: none; 
	border-radius: 25px;
	padding: 10px 20px; 
	font-size: 14px;
	font-family: 'Arial', sans-serif; 
	cursor: pointer; 
	margin-top: 10px;
	transition: background-color 0.3s ease, transform 0.2s ease; 
}
  
  /* Effet au survol */
.upload-button:hover {
	background-color: #b9c5cc; 
	transform: scale(1.05); 
}

/* Formulaire de la modal */
.upload-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 15px; 
	padding: 30px;
}
  
  /* Labels */
  .upload-form label {
	font-size: 14px;
	font-weight: bold;
	color: #333;
}
  
  /* Champs de texte et liste déroulante */
  .upload-form input,
  .upload-form select {
	align-items: center;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
	width: 100%;
	box-sizing: border-box; /* Inclure le padding dans la largeur */
}
  
  /* Placeholder en gris */
  .upload-form input::placeholder {
	color: #aaa;
}
  
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.Filtres{
	display: flex;
	gap: 10px;
	justify-content: center;
	margin: 35px auto;
}
.filtres-boutton{
	padding: 10px 25px;
	border: 2px solid #1D6154;
	border-radius: 25px;
	background-color: white;
	font-size: 16px;
	transition: background-color 0.3s, color 0.3s;
	cursor: pointer;
}
.filtres-boutton-active,
.filtres-boutton:hover{
	border: 2px solid #1D6154;
	border-radius: 25px;
	background-color: #1D6154;
	color: white;
	padding: 10px 25px;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}


input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

